.vscode/
bin/
obj/
#CommandsService/bin/
#CommandsService/obj/
#PlatformService/bin/
#PlatformService/obj/
#!.vscode/tasks.json
#!.vscode/launch.json
*.dll
*.pdb
*.orig
*.assets
*.cache
*.editorconfig
*.exe
*.pdb
#/build/
#*.suo
*.user
*.txt
*.png
#README.txt
#MESSAGING.txt
#KUBERNETES CONCEPT.txt