CommandsService/obj/Debug/net5.0/CommandService.assets.cache
CommandsService/obj/Debug/net5.0/CommandService.csproj.AssemblyReference.cache
CommandsService/obj/Debug/net5.0/CommandService.GeneratedMSBuildEditorConfig.editorconfig
PlatformService/bin/Debug/net5.0/PlatformService.dll
PlatformService/bin/Debug/net5.0/PlatformService.pdb
PlatformService/bin/Debug/net5.0/ref/PlatformService.dll
PlatformService/obj/Debug/net5.0/PlatformService.assets.cache
PlatformService/obj/Debug/net5.0/PlatformService.csproj.AssemblyReference.cache
PlatformService/obj/Debug/net5.0/PlatformService.csproj.CoreCompileInputs.cache
PlatformService/obj/Debug/net5.0/PlatformService.dll
PlatformService/obj/Debug/net5.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
PlatformService/obj/Debug/net5.0/PlatformService.pdb
PlatformService/obj/Debug/net5.0/ref/PlatformService.dll
/CommandsService/obj/Debug/net5.0/CommandService.assets.cache
/CommandsService/obj/Debug/net5.0/CommandService.assets.cache
/CommandsService/obj/Debug/net5.0/CommandService.csproj.AssemblyReference.cache
/CommandsService/obj/Debug/net5.0/CommandService.GeneratedMSBuildEditorConfig.editorconfig
/PlatformService/bin/Debug/net5.0/PlatformService.dll
/PlatformService/bin/Debug/net5.0/PlatformService.pdb
/PlatformService/bin/Debug/net5.0/ref/PlatformService.dll
/PlatformService/obj/Debug/net5.0/PlatformService.assets.cache
/PlatformService/obj/Debug/net5.0/PlatformService.csproj.AssemblyReference.cache
/PlatformService/obj/Debug/net5.0/PlatformService.csproj.CoreCompileInputs.cache
/PlatformService/obj/Debug/net5.0/PlatformService.dll
/PlatformService/obj/Debug/net5.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
/PlatformService/obj/Debug/net5.0/PlatformService.pdb
/PlatformService/obj/Debug/net5.0/ref/PlatformService.dll
